<div class="row py-md-3">
  <div class="col-0 col-xl-1"></div>
  <div class="col-12 col-xl-10">
    <div class="card">
      <div class="card-header">
        Tarea
      </div>
      <div class="card-body">
        <form role="form" [formGroup]="tareaForm">
          <div class="control-group row">
            <div class="form-group col-2">
              <label class="form-control-label" for="codigo">Código *</label>
              <input type="text" class="form-control" id="codigo" formControlName="codigo" name="codigo" 
                placeholder="Código de la tarea">
            </div>
            <div class="form-group col-4">
              <label class="form-control-label" for="descripcion">Descripción *</label>
              <input type="text" class="form-control" id="descripcion" formControlName="descripcion" 
                name="descripcion" placeholder="Descripción de la tarea">
            </div>
            <div class="form-group col-5">
              <label class="form-control-label" for="aplicacion">Aplicación *</label>
              <input type="text" class="form-control" id="aplicacion" formControlName="aplicacion" 
                name="aplicacion" placeholder="Aplicacion de la tarea">
            </div>
            <div class="form-group col-6">
              <label class="form-control-label" for="tipo">Tipo </label>
              <input type="text" class="form-control" id="tipo" formControlName="tipo" 
                name="tipo" placeholder="Tipo de la tarea">
            </div>
            <div class="form-group col-7">
              <label class="form-control-label" for="fechaAlta">Fecha Alta </label>
              <input type="text" class="form-control" id="fechaAlta" formControlName="fechaAlta" 
                name="fechaAlta" placeholder="Fecha de Alta">
            </div>
            
            <div class="form-group col-8">
              <label class="form-control-label" for="usuario">Usuario </label>
              <input type="text" class="form-control" id="usuario" formControlName="usuario" 
                name="usuario" placeholder="Usuario">
            </div>
            <div class="form-group col-9">
              <label class="form-control-label" for="despliegue">Despliegue </label>
              <input type="text" class="form-control" id="despliegue" formControlName="despliegue" 
                name="despliegue" placeholder="Despliegue">
            </div>
          

            <div class="form-group col-3">
              <label class="form-control-label" for="estado">Estado</label>
              <select id="estadoTarea" class="form-control" formControlName="estadoTarea">
                <option *ngFor="let estado of estados" [ngValue]="estado.value">{{estado.label}}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="button btn btn-secondary" (click)="onReturn()">Volver</button>
        <button type="button" class="button btn btn-secondary" (click)="onNew()">Nuevo</button>
        <button type="button" class="button btn btn-primary" [disabled]="!tareaForm.valid" 
    (click)="onSuccess()">Guardar</button>
      </div>
      <div class="form-group col-2">
        
        <div float=left *ngIf="tareaForm.controls.codigo.invalid && tareaForm.controls.codigo.touched" 
      class="alert alert-danger">
      <div>
          Falta llenar el campo codigo
        </div>
        </div>
        <div *ngIf="tareaForm.controls.descripcion.invalid && tareaForm.controls.descripcion.touched" 
      class="alert alert-danger">
      <div >
         
          Falta llenar el campo descripcion
          
        </div>
        </div>

        <div *ngIf="tareaForm.controls.aplicacion.invalid && tareaForm.controls.aplicacion.touched" 
        class="alert alert-danger">
        <div>
            Falta llenar el campo aplicacion
          </div>
          </div>

        <div *ngIf="tareaForm.controls.fechaAlta.errors && tareaForm.controls.fechaAlta.touched" 
      class="alert alert-danger">
      <div>

          Error en la fecha
        </div> 
        </div>
      </div>
      <pre>{{tareaForm.value | json}}</pre>
      <pre>{{tareaForm.valid | json}}</pre>
    </div>
  </div>
  <div class="col-0 col-xl-1"></div>
</div>